<div class="container-fluid rounded-sm border border-light shadow bg-white">
    <div class="px-5 py-5">
        <form id="formInput" action="/history" method="POST">
            <div class="form-group row">
                <label for="inputPrivateKey" class="col-sm-2 col-form-label">ID:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="id" id="inputPrivateKey">
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-4" id="findLock">Tìm Lịch Sử</button>
        </form>
    </div>
</div>