<div class="jumbotron">
    <h1 class="display-4">Chào mừng đến Votify</h1>
    <p class="lead">Ứng dụng bỏ phiếu sử dụng công nghệ blockchain</p>
    <hr class="my-4">
    <p></p>
    <a class="btn btn-primary" href="/register" role="button">Đăng ký bỏ phiếu</a>
    <a class="btn btn-outline-primary" href="/check-register" role="button">Kiểm tra đăng ký</a>
    <a class="btn btn-success" href="/votelist" role="button">Danh sách các cuộc bầu cử</a>
    <a class="btn btn-success" href="/address" role="button">Tìm kiếm ID</a>
    <a class="btn btn-outline-success" href="/find_history" role="button">Tìm kiếm Lịch Sử</a>

</div>