<div class="jumbotron">
    <h1 class="display-4">Chào mừng đến Votify</h1>
    <p class="lead">Ứng dụng bỏ phiếu sử dụng công nghệ blockchain</p>
    <hr class="my-4">
    <p></p>
    <a class="btn btn-primary" href="/register" role="button">Đăng ký bỏ phiếu</a>
    <a class="btn btn-outline-primary" href="/check-register" role="button">Kiểm tra đăng ký</a>

</div>