<div class="container-fluid rounded-sm border border-light shadow bg-white">
    <div class="px-5 py-5">
        <div class="container">
            <div class="col justify-content-md-center">
                <div class="card">
                    <div class="card-header">
                        Kết quả bầu cử
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Các ứng cử viên:</h5>
                        {{#each data.name}}
                            <p class="card-text">- {{this.name}}: {{this.count}} phiếu bầu</p>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

    })    
</script>