<div class="container-fluid rounded-sm border border-light shadow bg-white">
    <div class="px-5 py-5">
        <h2 class="mb-5">Danh sách các cuộc bầu cử</h2>
        <div class="container">
            <div class="col justify-content-md-center">
                {{#each elections}}
                    <div class="card">
                        <div class="card-header">
                            {{this.name}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Các ứng cử viên:</h5>
                            {{#each this.nominees}}
                                <p class="card-text">{{this}}</p>
                            {{/each}}
                            <p class="card-text">Deadline: {{this.deadline}}</p>
                            <a href="/votelist/{{id}}" class="btn btn-primary">Thực hiện bầu cử</a>
                        </div>
                    </div>
                {{/each}}
                <div class="card">
                    <div class="card-header">
                        Cuộc bầu cử 1
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Các ứng cử viên:</h5>
                        <p class="card-text">1.	Nguyễn Văn A</p>
                        <p class="card-text">2.	Trần Minh B</p>
                        <p class="card-text">3.	Trịnh Thị C</p>
                        <a href="/votelist/1" class="btn btn-primary">Thực hiện bầu cử</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        Cuộc bầu cử 2
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Các ứng cử viên:</h5>
                        <p class="card-text">1.	Nguyễn Văn A</p>
                        <p class="card-text">2.	Trần Minh B</p>
                        <p class="card-text">3.	Trịnh Thị C</p>
                        <a href="/votelist/2" class="btn btn-primary">Thực hiện bầu cử</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

    })
</script>