<div class="container-fluid rounded-sm border border-light shadow bg-white">
    <div class="px-5 py-5">
        <h2 class="mb-5 text-center" id="nameOfElection">Cuộc bầu cử</h2>
        <div class="container">
            <div class="col justify-content-md-center">
                <form>
                    <div class="card">
                        <div class="card-body">

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="lastName">Họ</label>
                                    <input type="text" class="form-control" id="lastName">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="firstName">Tên</label>
                                    <input type="text" class="form-control" id="firstName">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="idnumber">Chứng minh nhân dân</label>
                                <input type="text" class="form-control" id="idnumber">
                            </div>

                            <div class="form-group">
                                <label for="year">Năm bầu cử</label>
                                <input type="text" class="form-control" id="year" readonly value="{{elections.year}}">
                            </div>

                            <div class="form-group">
                                <label for="privKey">Khóa bí mật</label>
                                <input type="password" class="form-control" id="privKey" required>
                            </div>

                            <label for="nominees">Bầu ứng cử viên:</label>
                            <select id="nominees" class="custom-select custom-select-sm">
                                {{#each elections.nominees}}
                                    <option value={{this}}>{{this}}</option>
                                {{/each}}
                            </select>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary mt-5">Xác nhận bầu cử</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('button[type=submit]').click(function () {
            const data = {
                year: $("#year").val(),
                name: $("#nameOfElection").val(),
                nominees: $("#nominees").val(),
                privKey: $("#privKey").val(),
            }
            alert(JSON.stringify(data, null, 4));

            // POST form
            $.ajax({
                url: '/vote',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: false,
                timeout: 10000,
                data: JSON.stringify(data),
                success: function (data) {
                    alert(data.msg)
                },
                error: function (err) { alert(err) }
            });
        })
    })    
</script>